[*.cs]
indent_style = space
indent_size = 4
csharp_style_throw_expression = false:none
dotnet_style_predefined_type_for_member_access = false:none

[*.xml]
indent_style = space
indent_size = 2

[*.csproj]
indent_style = space
indent_size = 2
